## virtualenv ##
bin/
include/
lib/
.Python

## pip ##
pip-selfcheck.json

## pylint ##
*.pylint

## codio ##
.codio
local/

## visual studio code ##
.vscode/

## application specific ##
db/*.json
.direnv/